[submodule "third-party/open.mp-sdk"]
	path = third-party/open.mp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk/
[submodule "third-party/pawn-natives"]
	path = third-party/pawn-natives
	url = https://github.com/openmultiplayer/pawn-natives
[submodule "third-party/pawn"]
	path = third-party/pawn
	url = https://github.com/openmultiplayer/compiler
[submodule "third-party/open.mp-network"]
	path = third-party/open.mp-network
	url = https://github.com/openmultiplayer/open.mp-network/
